{% extends "container.html" %}

{% block header %}
<header>
    <div class="header-inside">
        <div class="container welcome">
            <h1>Welcome to the Lasciva Roma project</h1>
            <form method="GET" action="{{ url_for("search") }}">
                <div class="input-group mb-3">
                    <input name="q" type="text" class="form-control outline" placeholder="Search in the database" aria-label="Search in the database" aria-describedby="button-addon1">
                    <button class="btn btn-lg btn-outline-primary" type="button" id="button-addon1">Search</button>
                </div>
            </form>
        </div>
    </div>
</header>
{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="row-col-8">
            <h2>What's Lasciva Roma ?</h2>
            <p>Lasciva Roma is a web app to serve the results of Thibault Clerice's PhD Thesis about sexual vocabulary
                or isotopies in Latin literature from classical and late Antiquity. In this current beta version of the application,
            you'll find around 2500 excerpts of Latin Literature which were annotated based on the work of James Noel Adams, <i>The Latin Sexual Vocabulary</i>.</p>
        </div>
    </div>
{% endblock  %}