{% extends "container.html" %}

{% block css %}
    <style type="text/css">
    .card {
        margin-bottom: 1rem;
    }
    </style>
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-3">
        {% for facet in facets %}
            <div class="card">
                <div class="card-header">
                    {{ facets[facet].nice }}
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                    {% for value, _ in facets[facet].data %}
                        <li><a href="{{ faceted_url('search', param_name=facet, param_value=value, multi=["tags"]) }}" class="link link-secondary">{{ value }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-9">
        <form method="GET" action="{{ url_for("search") }}">
            <div class="input-group mb-3">
                <input name="q" type="text" class="form-control outline" placeholder="Search in the database" aria-label="Search in the database" aria-describedby="button-addon1" value="{{ query or ""}}"/>
                <button class="btn btn-lg btn-outline-primary" type="button" id="button-addon1">Search</button>

                {% for param_key, param_value in current_params %}
                    {% if param_key != 'q' %}
                        <input type="hidden" name="{{ param_key }}" value="{{ param_value }}"/>
                    {% endif %}
                {% endfor %}
            </div>
        </form>
        <div>
            {% for param_key, param_value in current_params %}
                {% if param_key != 'q' %}
                    <a class="btn btn-warning" href="{{ faceted_url('search', param_name=param_key, param_value=param_value, deleted=True) }}">{{ param_key }}:{{ param_value }} ×</a>
                {% endif %}
            {% endfor %}
        </div>
        <p>{{ results.total }} résultats.</p>
        <hr/>
        {% for result in results %}
        <div class="card">
          <div class="card-header">
            {{result.author}}, <i>{{result.title}}</i>, {{result.ref}}
              <span class="badge bg-dark float-end">Adams, p. {{ result.adamsPage }}</span>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                  {% if query %}{{result.highlights("body") | safe}}{% else %}{{ result.body }}{% endif %}
                  <a href="{{ url_for('excerpt_read', unit=result.id) }}" class="btn btn-primary btn-sm">More...</a>
              </p>
            </blockquote>
            <hr />
              <div>
                  {%  for tag in result.tags.split() %}<a href="{{ url_for('search', tags=tag) }}" class="btn btn-sm btn-success">{{tag}}</a> {% endfor %}
              </div>
          </div>
        </div>
        {% endfor %}

        <nav aria-label="Page navigation" style="margin:1em auto; display: block; text-align: center;">
          <ul class="pagination">
            {%  if results.pagenum > 1 %}
                <li class="page-item"><a class="page-link" href="{{ faceted_url("search", page=results.pagenum-1) }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="{{ faceted_url("search", page=1) }}">1</a></li>
            {% else %}
                <li class="page-item active"><a class="page-link" href="{{ faceted_url("search", page=1) }}">1</a></li>
            {% endif %}
            {% for pageNum in paginate(results) %}
                {% if pageNum == results.pagenum %}
                    <li class="page-item active"><a class="page-link" href="{{ faceted_url("search", page=results.pagenum) }}">{{ results.pagenum}}</a></li>
                {% elif pageNum == '...' %}
                    <li class="page-item disabled"><a class="page-link">{{ pageNum}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ faceted_url("search", page=pageNum) }}">{{ pageNum}}</a></li>
                {% endif %}
            {% endfor %}
            {%  if results.pagenum < results.pagecount %}
                {%  if results.pagenum + 1 < results.pagecount %}
                    <li class="page-item"><a class="page-link" href="{{ faceted_url("search", page=results.pagecount) }}">{{results.pagecount}}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="{{ faceted_url("search", page=results.pagenum+1) }}">Next</a></li>
            {% endif %}
          </ul>
        </nav>
    </div>

</div>

{% endblock %}